@font-face {
    font-family: CaviarDreams;
    src: url(CaviarDreams.ttf);

}

body {

    background: url('../pictures/enskede1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}


.rectangle {
    background: linear-gradient(45deg, #ffe9da7a, #e8fbf5aa);
    margin-top: 20%;
    color: #633031;
}

.rectangleButton {
    background: linear-gradient(45deg, #ffe9da7a, #e8fbf5aa);
    text-align: left;
    border: none;
    color: #633031;
    font-size: 12pt;

}

.rectangleRight {
    background: linear-gradient(45deg, #ffe9da7a, #e8fbf5aa);
    margin-top: 20%;
    color: #633031;
    font-size: 22pt;
    width: 5%;
    border: none;
}

.pButton {
    font-size: 20pt;
    margin-top: 110%;
    display: inline;
}

.vis {
    visibility: hidden;
    font-size: 10pt;
    margin-top: -30%;
}

.pButton:hover+.vis {
    visibility: visible;

}

.rectangleLeft {
    background: linear-gradient(45deg, #ffe9da7a, #e8fbf5aa);
    margin-top: 20%;
    color: #633031;
    font-size: 22pt;
    width: 5%;
    border: none;

}

h6 {
    font-size: 16pt;
    line-height: 25pt;
}

a {
    text-decoration: none;
    color: #633031;
}

a:hover {
    text-decoration: none;
    color: #633031;
}

@media only screen and (max-width:780px) {
    .rectangleRight {
        width: 10%;
    }

    .rectangleLeft {
        width: 10%;

    }

    @media only screen and (max-width:620px) {
        .vis {
            font-size: 8pt
        }
    }

    @media only screen and (max-width:520px) {
        .vis {
            font-size: 6pt
        }
    }
}