.contact {
    text-align: left;
    margin-left: 5%;
    margin-top: 5%;
}

.row {
    margin-top: 10%;
}

h4 {
    text-align: left;
    font-size: 20px;
    line-height: 1.5;
}

.pcontact {
    text-align: left;
}

.googlemap {
    float: right;
    max-width: 100%;
    border-radius: 2%;
    margin-bottom: 5%;
    margin-right: 2%;
}

.stick {
    border-left: 1px solid black;
}